@import "normalize";

$naincolor:#000;
html {
  font-size:16px;
  font-family: sans-serif;
  line-height: 1.4;
  color: #555;
  
}

a {
    color: #009ced;
    text-decoration: none;
}
a:hover {
    color: #0081c3;
    text-decoration: underline;

}
.container {
    width: 1080px;
    margin: 0 auto; /*只要左右值用auto就置中*/
}

.top-menu{
    background-color:$naincolor;
    height:36px;
    .container h2 {
        margin: 0 auto;
        padding: 0;
        color: #fff;
        text-align: center;
    
    }
}



.top-block{
    display: flex;
    height: 40px;
    /*border: #f00 1px solid;*/
    border-bottom: #ddd 1px solid;
    .container a {
        margin: 0 auto;
        padding: 0;
        color: #000;
        text-align: center;
        text-decoration: none;
      
    }
    .item-a ul{
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        li {
            flex: 0 0 40%;
            text-align: center;
             
        }
        li:hover {
            background-color: #E6E6FA
          }
      }
     
}

.item {
   /* border: #0f0 1px solid;*/
    flex: 0  0 30%
}

 .top-block .item-a  a {
    text-decoration: none;
    color: #000;
 }

 .top-block .item-b{
    margin: 0 auto;
    padding: 0;
    text-align: center;
    a{
        display: block;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        color: #000;
        font-size: 25px;
    }
 }

 

 .top-block .item-c ul{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    li {
        flex: 0 0 20%;
        
     }
     a {
        color: #000;
      }
     
     
      
  }
 


 .index-image {
     height: 400px;
     background: url(../images/index-image.jpg) center center no-repeat;
     background-size: cover;
     position: relative;
     h2 {
        font-size: 50px;
        color: #ddd;
        position: absolute;
        margin: 0;
        left: 20%;
        top: 30%;
    }
 }


.popular-item{
   padding: 30px 0;
   .container {
       width: 1280px;
       margin: 0 200px;
   }
   ul {
    margin:0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
   }
   li {
    flex: 0 0 300px;
    h3 {
        text-align: center;
        margin-left: -50px;
        }
       
        p {
           text-align: center;
           margin-left: -40px;
        }
        

    }
}
 .popular-item  h2 {
    font-size: 2rem;
     margin-bottom: 30px;
     margin-top: 0;
     padding: 0;
     font-weight: bold;
     text-align: center;
     margin-left: -100px;
 }

.Pickpocket {
     background-color: #555;
     padding: 40px 0;
     h2 {
        font-size: 2rem;
        text-align: center;
        margin: 0 0 30px;
      }
      .container {
        width: 530px;
        color: #fff;
    }
  }
  

  .item-content {
    color: #fff;
    text-align: center;
    display: flex;
}

 .item-text {
  flex: 1  1 500px;
}

.mail {
    background-color: #eee;
    padding: 40px 0;
    h2 {
        font-size: 2rem;
        text-align: center;
        margin: 0 0 30px;
      }
      label {
        margin-left:20%;
         
       }
       input[type="text" ]{
        margin: 0;
        width: 80%;
        border: none;
        border-bottom: 1px #000 solid;
        text-indent: 20px;
   }
 }
 

  
  .email_icon {
      width: 80%;
      position: relative;
      display: inline-block;
      i {
        position: absolute;
        left: 3px;
       }
  }
  
  .mail input[type="submit" ]{
    margin:20px 0;
    width: 80%;
    background: #000;
    color: #fff;
}



.page-footer .top-footer {
    padding: 20px 0;
    background-color: #000;
}
.top-footer ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    a{
        color: #fff;
        text-decoration: none;
    }
    li{
        flex: 0 0 10%;
    }
   
}


.page-footer .bottom-footer {
    padding: 40px 0;
    background-color: #ddd;
    a {
        text-align: center;
        color: #000;
        text-decoration: none;
        margin-left: 45%;
    }
}


.detail-item {
    padding: 30px 0;
    padding-bottom: 0;
    .container {
        width: 900px;
        margin: 0 auto;
    }
}


.top-detail ul{
    margin: 10px;
    padding: 5px;
    display: flex;
    list-style: none;
    a {
        color: #000;
    }
}



.detail {
    display: flex;
}

.detail-content .item-image img {
    width: 550px;
    height: 500px;
    background: center no-repeat;
}

.item-detail {
    font-size: 12px;
    width: 600px;
    display: flex;
    /*font-size: 16px;*/
    h2 {
        flex: 0  0 600px;
    }
}


.detail-b select {
    width: 100%;
    input[type="text"]{
        width: 25%;
    }
    input[type="submit"]{
        width: 100%;
        background-color: #000;
        color: #fff;
        padding: 10px;
    }
}


.detail-content {
    flex-direction: column;
}


.recommend-item {
    font-size: 12px;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        display: flex;
        
        margin-bottom: 20px;
    }
    li > div {
        margin-left: 10px;
    }
}



.footer-page .container {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    ul{
        margin: 10px;
        padding: 5px;
        display: flex;
        list-style: none;
        justify-content:center;
    }
    li{
        margin-left: 20px;
     }
     a {
        color: #000;
        text-align: center;
    }
}
.cart-item {
    padding: 60px 0;
    padding-bottom: 0;
    .container {
        width: 1000px;
        margin: 0 auto;
    }
}
.table-cart {
    border-bottom: 1px solid #ccc;
    text-align: center;
    width: 100%;
    font-size: 18px;
    line-height: 1.6em;
    .info {
        text-align: left;
        img {
            float: left;
            width: 53px;
        }
        p {
            margin-left: 80px;
            margin-bottom: .4em;
        }
        
    }
    
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: #6f6a66;
    text-decoration: none;
}

.table-cart span input[type="text"] {
   width: 25%;
}


.cart-bill {
    position: relative;
    overflow: hidden;
    min-height: 80px;
    font-size: .81em;
    line-height: 1.2em;
    ul {
        font-size: 14px;
        float: right;
        width: 200px;
        padding-right: .8em;
        text-align: right;
    }
    li {
        list-style: none;
    }
    span {
        display: inline-block;
        min-width: 100px;
        margin-left: 5px;
        margin-bottom: 10px;
    }
}

.cart-bill li span:first-child {
    min-width: 5em;
}

.cart-bill input[type="submit"]{
    width: 100%;
    background-color: #000;
    color: #fff;
    height: 25px;
}

@media screen and (max-width:1140px ){
    /*body {*/
       .container {
           width: 820px;
       }
       .index-image h2 {
        margin: 0;
        left: 5%;
        top: 30%;
       }
       
       .popular-item{
        padding: 30px 0;
        .container {
            width:700px;
            margin: 0 300px;
        }
        h2{
            margin-left: -200px;
        }
        li {
         flex: 0 0 260px;
         }
     }
     .detail-item {
        .container {
            width: 800px;
            margin: 0 auto;
        }
    }
    .detail-content .item-image img {
        width: 400px;
        height: 400px;
        background: center no-repeat;
    }
    
    .item-detail {
        font-size: 10px;
        width: 500px;
        display: flex;
        /*font-size: 16px;*/
        h2 {
            flex: 0  0 600px;
        }
    }
    .detail-content {
        flex-direction: column;
    }
 }
 @media screen and (max-width:880px ){
    .container {
        width: 740px;
    }
    .index-image h2 {
     margin: 0;
     left: 5%;
     top: 30%;
    }
    
    .popular-item{
     padding: 30px 0;
     .container {
         width: 550px;
         margin-left:200px;
     }
     h2 {
        margin: 10px 45px;
     }
     li {
      flex: 0 0 270px;
      }
  }
  .top-footer ul {
    li{
        flex: 0 0 15%;
    }
  }

  .cart-item {
    padding: 60px 0;
    padding-bottom: 0;
    .container {
        width: 800px;
        margin: 0 auto;
    }
}
 }
 @media screen and (max-width:767px ){
    .container {
        width: 90%;
    }
    .popular-item{
        padding: 30px 0;
        .container {
            width: 550px;
           margin: 0 140px;
        }
        h2 {
           margin: 10px 45px;
        }
        li {
         flex: 0 0 270px;
         }
     }
     .detail-item {
        .container {
            width: 2000px;
            margin: 0 auto;
        }
    }
     .detail-a{
         width: 400px;
     }
   
    .detail-content{
        width: 500px;
      
        .detail{
            width: 400px;
        }
    }
    .item-style h2{
        font-size: 20px;
     }
   
    .detail-content .item-image {
        width: 400px;
    }
    .recommend-item {
        h2 {
            font-size: 15px;
        }
    }
    .cart-item {
        .container {
          width: 500px;
          
        }
    }
    .table-cart{
        width: 500px;
    }
    .cart-bill {
        width: 500px;
    }
 }
 @media screen and (max-width:640px ){
     .container{
         width: 600px;
     }
     .top-menu{
         .container{
             width: 600px;
         }
     }
    
    
   .item {
     //  border: #0f0 1px solid;
       justify-content: flex-start;
   
  }

    .top-block{
        .container{
            width: 200px;
        }
        .container a {
           margin-left: -100px;
        }
        .item-a ul{
            display: block;
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: flex-start;
            li {
              flex: 0 0 30px;
            }
          }
          .item-c{
            display: flex;
            li {
                flex: 0 0 10px;
               
                justify-content: flex-start;
              }
          }
    }
    .popular-item{
        padding: 30px 0;
        .container {
            width: 450px;
           margin: 0 140px;
        }
        h2 {
           margin: 0 20px;
        }
        li {
         flex: 0 0 270px;
         }
     }
    .detail-item .container{
        width: 500px;
    }
    .detail-content{
        width: 400px;
      
        .detail{
            width: 100px;
            flex-direction: column;
            
            .detail-a{
                width: 300px;
                .item-detail > div{
                    width: 600px;
                   
                }
            }
            .detail-b{
                width: 400px;
            }
        }
    }
    .item-style h2{
        font-size: 20px;
     }
   
    .detail-content .item-image {
        width: 300px;
    }
    .recommend-item {
        h2 {
            font-size: 15px;
        }
    }
    .cart-item {
        .container {
          width: 50%;
          
        }
    }
   .container .table-cart{
        width: 400px;
    }
    .cart-bill {
        width: 600px;
    }
 }
 @media screen and (max-width:580px ){
   
    .top-menu{
        h2{
            width: 400px;
        }
        .container{
            width: 400px;
            
        }
    }
    .top-block{
        width: 500px;
        margin: 0;
        .container{
            width: 200px;
        }
        .container a {
           margin-left: -100px;
        }
        .item-a ul{
            display: block;
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: flex-start;
            li {
              flex: 0 0 10px;
            }
          }
          .item-c{
            display: flex;
            li {
                flex: 0 0 10px;
               
                justify-content: flex-start;
              }
          }
    }
    .popular-item{
        padding: 30px 0;
        .container {
            width: 400px;
            margin: 0 50px;
        }
        h2 {
           margin: 0 20px;
        }
        li {
         flex: 0 0 270px;
         }
     }
    .popular-item  {
       
        ul {
        flex-direction: column;
       }
        li {
            display: flex;
            flex-basis: auto;
            margin-bottom: 20px;
        }
        li :last-child {
            margin-bottom: 0;
        }
         li > a { /*大於*/
            flex: 0 0 200px;
            margin-right: 30px;
         }
         li > div{
             width: 100px;
             margin-left: 50px;
             margin-top: 60px;
             flex: 1;
         }
        
       }
 
    .top-footer ul {
        li{
            flex: 0 0 20%;
        }
    }
    .bottom-footer .container {
        margin-left: 10px;
    }
    
 }